
*.class
service/target/surefire-reports/TEST-com.granny.grannyService.GrannyServiceApplicationTests.xml
service/target/surefire-reports/com.granny.grannyService.GrannyServiceApplicationTests.txt
service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
service/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
service/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
service/target/maven-archiver/pom.properties
service/target/grannyService-0.0.1-SNAPSHOT.jar
service/target/grannyService-0.0.1-SNAPSHOT.jar.original
service/.idea/compiler.xml
service/.idea/encodings.xml
service/.idea/jarRepositories.xml
service/.idea/vcs.xml
service/HELP.md
service/target/classes/application.properties
service/.idea/misc.xml
.idea/libraries/tp4_words_service_0_0_1_SNAPSHOT.xml
